{% extends "base.html" %}
{% load il8n %}


{% block head_title %}
	TaskBuster Django Tutorials 
{% endblock %}

{% block content %}
	<div class="jumbotron">
      <div class="container">
        <h1> {% trans "Learn Python with me!" %}</h1>
        <p>Python is one of the most popular programming language at the moment. Lots of people are learning how to program and they chose python as their first language. Learn Python with me is a beginner friendly python course for beginners and intermediate level programmers.  Come join today.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Defining functions in Python</h2>
          <p>Defining functions in python is not as complicated as people think. 
          Use <kbd>def function_name():</kbd> to define a python function. Next indent the lines that you want to put inside function and 
          either return something at the end or just leave it if you don't want to return anything at all. Look how easy is it:)
          <br>
          <code>
          def your_function():<br>
          &emsp; print ('Hello World')
          </code>

           </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Quotes that change thoughts</h2>
          <p><b> {% blocktrans %}A person who never alters his thinking is like a stagnant water and breeds the reptiles of mind {% endblocktrans %}</b> </p>
          <p><a class="btn btn-default" href="#" role="button">View more quotes here &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}